<div style="background-color:beige;">
  <br><br><br>

  <h3 style='text-align:center;'>Admin View!</h3>
  <br>

  <h4>View Inventory</h4>
  <ul>
    <li>Inventory here</li>
    <li>Inventory here</li>
    <li>Inventory here</li>
  </ul>

  <h4>Add Item to Inventory:</h4>
    <ul>
      <li><input type="text" placeholder="Name"></li>
      <li><input type="text" placeholder="Description"></li>
      <li><input type="money" placeholder="Price"></li>
      <li><input type="text" placeholder="Type"></li>
      <li><input type="text" placeholder="Image"></li>
    </ul>
  <button>Add to Inventory</button>

  <h4>Edit Inventory</h4>

  <h4>Manage Products</h4>

  <h4>Manage Customers</h4>

  <h4>Process Orders/Order Status</h4>

  <h4>View Shipping Status</h4>

  <h4>View Order Statistics?</h4>

  <h4>Mailing List/Distribution</h4>

  <h4>Information/Schedules/Memos</h4>
  <br>
</div>
