
#shop {
  color: purple;
}

#bkgrndHeader {
  background-image: url(/assets/img/fushimi.jpg);
  background-size: cover;
  background-attachment: fixed;
  height:70vh;
  width:auto;
}

.prodImg {
  height: 100px;
  width: auto;
}
