<div id="bkgrndHeader"></div>
<br><br>
<h2 style="text-align:center;">SHOP HERE</h2>
<br>
<div style="margin:2%; text-align:center;">
  <button ng-click="getAllProducts()">Click for Products</button>
  <br><br>
  <!-- just filter on the name: -->
  <!-- <input ng-model="productFilter.name" placeholder="Search by Name"> -->
  <!-- <input ng-model="productFilterText" placeholder="Search"> -->
  <br>
  <div class="container">
    <div class="row justify-content-around">
  <div class="stuff" ng-repeat="product in products | filter: productFilterText | orderBy: 'price'">
    <ul>
      <img class="prodImg" src="{{product.image}}">
      <h4>{{product.name}}</h4>
      <li>Description: {{product.description}}</li>
      <li>Price: {{product.price}}</li>
      <li>Type: {{product.type}}</li>
    </ul>
    <button ng-click="addToCart(product)">Add to Cart</button>
    <br><br><br>
  </div>
  <br>
  </div>
</div>



<!-- ROW EXAMPLE -->
<!-- <div class="container">
<div class="row justify-content-around">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
</div> -->
