<div style="margin:2%;">
  <button ng-click="getAllProducts()">Click for Products</button>
  <br><br>
  <!-- just filter on the name: -->
  <!-- <input ng-model="productFilter.name" placeholder="Search by Name"> -->
  <!-- <input ng-model="productFilterText" placeholder="Search"> -->
  <br>
  <div class="stuff" ng-repeat="product in products | filter: productFilterText | orderBy: 'price'">
    <ul>
      <h4>{{product.name}}</h4>
      <li>Description: {{product.description}}</li>
      <li>Price: {{product.price}}</li>
      <li>Type: {{product.type}}</li>
    </ul>
    <button ng-click="addToCart(product)">Add to Cart</button>
    <br><br><br>
  </div>
  <br>
</div>
