
#shop {
  color: purple;
}

#bkgrndHeader {
  background-image: url(/assets/img/fushimi.jpg);
  background-size: cover;
  background-attachment: fixed;
  height:70vh;
  width:auto;
}

.prodImg {
  height: 200px;
  width: auto;
}

.prodImg:hover {
  /*height: 300px;
  width: auto;*/
}

.title:hover {
  font-style: italic;
}

.stuff {
  /*border: 30px;*/
}
