<div>
  <h3>My Account View:</h3> (Is this also my cart view? hmm) <br><br> 

  <div ng-show="cart.items.length === 0">
    <div>Your Cart is empty</div>
  </div>
  <div ng-hide="cart.items.length === 0">
    <div class="list">
      <div class="item item-thumbnail-left" ng-repeat="item in cart.items">
        <img ng-src="{{item.images[0]}}">
        <h2>{{ item.name }}</h2>
        <h4>$ {{ item.price }}</h4>
        <div>
          <a class="ion ion-plus"></a>
          {{item.quantity}}
          <a class="ion ion-minus"></a>
        </div>
      </div>
      <div class="item">
        <div class="padding">
          <h3>Total: $ {{getCartTotal()}}</h3>
        </div>
      </div>
    </div>
    <div class="padding">
      <a class="button button-positive button-block" href="#/app/checkout"><span class="ion ion-android-done-all"></span> Checkout</a>
    </div>
  </div>

</div>
