<div style="background-color:gray; text-align:center;">
  <br><br><br>

  <br> LOGIN: <br>
  <input type="text" placeholder="Email"> <br>
  <input type="text" placeholder="Password"> <br> Forgot your password? <br>
  <button>Sign In</button>
  <br> -----
  <br> CREATE ACCOUNT: <br>

  <input type="text" placeholder="First Name"> <br>
  <input type="text" placeholder="Last Name"> <br>
  <input type="text" placeholder="Email"> <br>
  <input type="text" placeholder="Password"> <br>
  <button>Create</button>
  <br><br> ----- <br>



  <h3>My Account View:</h3> (Is this also my cart view? hmm) <br><br>

  <button ng-click="getCartProducts()">Show My Cart Items Plz</button>
  <div ng-repeat="product in products">
    <ul>
      <li>product id: {{product.products_id}}</li>
    </ul>

  </div>
  <br>
  <button>Purchase Now</button> (STRIPE)
  <br><br>





  <div ng-show="cart.product_id.length === 0">
    <div>Your Cart is empty</div>
  </div>
  <div ng-hide="cart.product_id.length === 0">
    <div class="list">
      <div class="item item-thumbnail-left" ng-repeat="product in cart.product_id">
        <img ng-src="{{product.image[0]}}">
        <h2>{{ product_id.name }}</h2>
        <h4>$ {{ product_id.price }}</h4>
        <div>
          <a class="ion ion-plus"></a>
          {{product_id.quantity}}
          <a class="ion ion-minus"></a>
        </div>
      </div>
      <div class="item">
        <div class="padding">
          <h3>Total: $ {{getCartTotal()}}</h3>
        </div>
      </div>
    </div>
    <div class="padding">
      <a class="button button-positive button-block" href="#/app/checkout"><span class="ion ion-android-done-all"></span> Checkout</a>
    </div>
  </div>

</div>
